.gain__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
}

.gain__description {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

