.header {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__logo {
  height: 66px;
}

.header__image:hover {
  opacity: 80%;
}

.header__image:active {
  opacity: 60%;
}

.header__logo-text:hover {
  opacity: 80%;
}

.header__logo-text:active {
  opacity: 60%;
}

@media (min-width: $tablet-width) {
  
  .header__logo {
    height: 100px;
  }
  
  
}

@media (min-width: $desktop-width) {
  .header__logo {
    height: 114px;
  }
  
  
}