.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__toggle {
  background-image: url("../../icons/stack.svg#logo-menu");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  
}

.nav__wrapper {
  background-color: #ffffff;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list a {
  color: #000000;
}

@media (min-width: $tablet-width) { 
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 437px
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 473px;
  }
}