.program {
  background-color: $color-basic-green;
  background-repeat: no-repeat;
  background-position: contain;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 27px;
}

// @media (min-width: $tablet-width) {

// }
// @media (min-width: $desktop-width) {
// }

.program__title {
  margin: auto 35px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.program__slogan {
  margin: 25px 0 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.program__image {
  margin: 29 20 0;
}
